.See_detali{
  margin-top: 150px;
  padding: 0px 100px;
}
.content_detali{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.img_detale {
  width: 800px;
}
.img_detali img{
  width: 100%;
}
.text_detali{
  /* background-color: aqua; */
  margin-top: 0px;
  text-align: left;
  margin-left: 20px;
}
.text_detali p{
  /* background-color: #555; */
  padding: 0px 0px;
  margin-top: 0px;
  font-size: 20px;
  
}
.bt-buy{
  border: 1px solid #1A1A1A;
  border-radius: 8px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 20px;
  line-height: normal;
  /*margin: 5px 5px;*/
  margin-top: 22px;
  margin-right: 1px;
  min-height: 60px;
  padding: 15px 32px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform;
}

.bt-buy:hover {
  color: #fff;
  background-color: #77DD77;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
} 

.valueform {
  width: 300px;
  margin: 0 ;
  text-align: left;
  padding-top: 10px;
}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 38px;
  text-align: center;
  vertical-align: middle;
  padding: 5px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

.valueform #decrease {
  margin-right: 0px;
  border-radius: 8px 0 0 8px;
}

.valueform #increase {
  margin-left: 0px;
  border-radius: 0 8px 8px 0;
}

.valueform #input-wrap {
  margin: 0px;
  padding: 0px;
}

.valueform input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 37.6px;
  padding-bottom: 4px;
}

.valueform input[type=number]::-webkit-inner-spin-button,
.valueform input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
@media (max-width:600px)  {
  .See_detali{
    margin: 0px 0px;
    padding: 0px 0px;
  }
  .content_detali{
    display: grid;
    grid-template-columns:  1fr;
  }
  .img_detali {
    width: 100%;
  }
  .img_detali img{
    width: 100%;
  }
  .text_detali{
    margin: 10px 10px ;
  }
  .text_detali p{
    padding: 0px 0px;
  }
  .bt-buy{
    margin-top: auto;
    position: absolute;
    margin-top: auto;
    margin-left: auto;
  }
}



